.card_pagamento {
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    
  }

.no_bullets {
    list-style-type: none;
    padding: 0;
  }

  